@use '@/styles/variables' as *;

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: $color-text-primary;
  margin-bottom: 1.5rem;
}

.chartContainer {
  width: 100%;
  min-height: 300px;
}

.empty {
  padding: 3rem;
  text-align: center;
  color: $color-text-secondary;
  font-size: 0.875rem;
}
